<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farming">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/net_p_config"
        android:theme="@style/AppTheme">
        <activity android:name=".NoticeActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".RealHarvestAddActivity"
            android:theme="@style/FullScreen"/>
        <activity
            android:name=".FarmworkRecordAddActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".FarmworkRecordActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PlanAddActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".IngredientAddActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".FeeActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".RealHarvestActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ProductMaterialActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PlanActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PurchaseActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".RecordActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AddIngredientActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".IngredientListActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".LandAdd"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".LandManagerActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".MarketMainActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".TechMainActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".AdminMainActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".GuestMainActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>