<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddIngredientActivity"/>
        <activity android:name=".IngredientListActivity" />
        <activity android:name=".LandAdd" />
        <activity android:name=".LandManagerActivity" />
        <activity android:name=".BlockListActivity" />
        <activity android:name=".TagListActivity" />
        <activity android:name=".MarketMainActivity" />
        <activity android:name=".TechMainActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".GuestMainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>